@font-face {
    font-family: 'safety';
    src: url('fonts/safety-webfont.woff2') format('woff2'),
        url('fonts/safety-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'safety_light';
    src: url('fonts/safety-light-webfont.woff2') format('woff2'),
        url('fonts/safety-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: safety_light;
    font-weight: normal;
}

:root {
    --header-og-footer: #28292c;
    --section-farve-1: #414b59;
    --section-farve-2: #cccccc;
    --tekst-farve-1: #eaeaea;
    --tekst-farve-2: #373d46;
}
