/* generelt */

:root {
    --header-og-footer: #28292c;
    --section-farve-1: #414b59;
    --section-farve-2: #cccccc;
    --tekst-farve-1: #eaeaea;
    --tekst-farve-2: #373d46;
}

@font-face {
    font-family: 'safety';
    src: url('fonts/safety-webfont.woff2') format('woff2'),
        url('fonts/safety-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'safety_light';
    src: url('fonts/safety-light-webfont.woff2') format('woff2'),
        url('fonts/safety-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1 {
    font-family: safety_light;
    font-weight: normal;
    font-size: 42px;
    margin: 0;
}

h2 {
    font-family: safety_light;
    font-size: 28px;
    font-weight: lighter;
    margin: 0;
}

h3 {
    font-family: safety_light;
    font-size: 14px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.hidden {
    visibility: hidden;
}

/* header/nav */

header {
    background-color: #28292c;
    height: 62px;
    width: 100%;
    position: fixed;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
}

#logo {
    background-image: url(svg/logo.svg);
    background-size: 100%;
    height: 50px;
    width: 180px;
    margin: 10px 0 0 10px;
}

#menuknap {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer;
}

#menu {
    background-color: #28292c;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

#menu a {
    color: white;
    padding: 2vw 0 2vw 0;
    font-family: safety;
    text-transform: uppercase;
    height: 53px;
    cursor: pointer;
    text-decoration: none;
}

#search {
    background-image: url(svg/searchwhite.png);
    background-size: 100%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 1.6vw 0 0 0;
}

/* splash */

#splash {
    background-image: url(img/splash.jpg);
    background-size: cover;
    width: 100vw;
    height: 108vw;
    background-position: 50% 20%;
    margin: 0 auto;
}

#overskrift {
    color: white;
    text-align: right;
    padding: 70vw 20px 0 0;
}

/* 1. section/ kampagnevideo */

#video h1 {
    color: #FFFFFF;
}

#video p {
    color: white;
}

/* 2. section/ bødeberegner */

#info_1 {
    background-color: #cccccc;
    padding: 5vw 0;
}

#info_1 h1 {
    width: 90vw;
    margin: 0 auto;
    padding: 0 0 2vw 0;
}

#info_1 p {
    width: 90vw;
    margin: 2vw auto;
}

#bodeberegner {
    background-image: url(infografik/bodeberegner.png);
    background-size: 100%;
    width: 90vw;
    height: 90vw;
    margin: 0 auto;
}

/* 3. section/ hvem får flest bøder */

#info_22 {
    padding: 5vw 0;
}

/* 4. section/ hvor dør flest */

#info_2 {
    background-color: #e0e3e5;
    padding: 5vw 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
}

.txt {
    flex-basis: 400px;
    flex-grow: 1;
    padding-right: 30px;
}

.pic {
    flex-basis: 400px;
    flex-grow: 1;
}

/* 4. section/ guide */

#info_3 {
    background-color: white;
    padding: 2vw 0;

}

#guide {
    background-image: url(infografik/guide-100.jpg);
    background-size: 100%;
    width: 90vw;
    height: 120vw;
    margin: 0 auto;
}

/* 5. section/ konkurrence */

#konkurrence {
    background-color: #414b59;
    padding: 2vw 0 5vw 0;
    color: white;
}

.konkurrenceh1 {
    width: 90vw;
    margin: 2vw auto;
    text-transform: uppercase;
}

.insta_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1.5rem;
    width: 90vw;
    margin: 1vw auto;
}

.insta {}

/* footer */

footer {
    background-color: #28292c;
    padding: 10px;
}

footer p {
    font-family: safety_light;
    font-size: 14px;
    color: #9EA1A5;
    margin: 14px 0;
}

#socialemedier {
    display: flex;
    cursor: pointer;
}

#facebook {
    background-image: url(svg/facebook.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    color: white;
    filter: invert(100%);
}

#twitter {
    height: 50px;
    width: 50px;
    filter: invert(100%);
}

#linkedin {
    background-image: url(svg/linkedin.svg);
    background-size: 100%;
    width: 50px;
    height: 50px;
    color: white;
    filter: invert(100%);
}

#facebook:hover,
#twitter:hover,
#linkedin:hover {
    filter: invert(50%);
}


#adresse {
    text-align: center;
}

/* animation til pilen */

#pil {
    background-image: url(svg/arrowblue.png);
    background-size: 100%;
    width: 60px;
    height: 60px;
    position: relative;
    right: -80vw;
    bottom: 105px;
    cursor: pointer;
    filter: saturate(60%);
}

#pil:hover {
    animation-name: hop_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes hop_kf {
    0% {
        bottom: 105px;
    }

    50% {
        bottom: 115px;
    }

    100% {
        bottom: 105px;
    }
}

/*Video portfolio*/

#video_portfolio {
    background-color: #414b59;
    padding: 2vw 5vw;
    color: white;
}

#video_portfolio h1 {
    margin: 0 0 2vw 0;
}

#video_container {
    margin: 15vw 0;
}

.video {
    width: 90vw;
    height: 51vw;
    margin: 0 auto;
    border: none;
}


/* mediaqueries */

@media (max-width: 350px) {

    #overskrift h2 {
        font-size: 1.2rem;
    }

    #pil {
        display: none;
    }
}


@media (orientation: landscape) {
    #splash {
        width: 100vw;
        height: 45vw;
        background-position: 0% 0%;
    }

    #video {
        padding: 20px 100px;
    }

    footer p,
    #socialemedier {
        width: 90vw;
        margin: 0 auto;
    }

    #overskrift {
        padding: 30vw 20px 0 0;
    }

    #info_22 .txt,
    #konkurrence .txt {
        padding-left: 30px;
    }

    .insta_container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }

    #video_container {
        margin: 5vw 0;
    }
}

@media (min-width: 900px) {

    #menuknap {
        display: none;
    }

    #menu {
        visibility: visible;
        flex-direction: row;
        background: none;
        height: 53px;
        width: auto;
        position: fixed;
        top: 0;
        right: 5vw;
        font-size: 0.9rem;
        padding: 0;
    }

    #menu a {
        padding: 2vw 2vw 0 1vw;
        height: 36px;
        cursor: pointer;
    }

    #menu a:hover {
        background-color: #414b59;
    }

    #logo {
        margin-left: 5vw;
    }

    #pil {
        right: -92vw;
    }

    #overskrift {
        padding: 30vw 20px 0 0;
    }


}

@media (min-width: 1100px) {

    #overskrift {
        padding: 33vw 20px 0 0;
    }
}
